
<div class="container" data-toggle="modal" data-target="#myModal">
  <div class="row">
    <div class="col-xs-5" style="background-color:rgb(248,248,248);text-align:center;border-style: dashed;border-color:red">
      <h3><span class="glyphicon glyphicon-apple"></span> pay</h3>
      <h1>Apple Pay
          Cashless made effortless.</h1>
<p>
  Apple Pay is easy and works with the Apple devices you use every day. You can make secure purchases in stores, in apps, and on the web. And now you can send and receive money from friends and family right in Messages. Apple Pay is even simpler than using your physical card, and safer too.
</p>
    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-5" style="background-color:rgb(248,248,248);text-align:center;border-style: dashed;border-color:red">
      <h3> <span class="glyphicon glyphicon-cloud"></span> iCloud</h3>  
     <h1>For safekeeping. And easy sharing.</h1>   
       <p>  Apple Pay is easy and works with the Apple devices you use every day. You can make secure purchases in stores, in apps, and on the web. And now you can send and receive money from friends and family right in Messages. Apple Pay is even simpler than using your physical card, and safer too.</p>

    </div>
    <div class="col-xs-5" style="text-align:center;color:skyblue">
        <a  data-toggle="modal" data-target="#myModal" >Learn More <span class="	fa fa-angle-double-right"></span></a>
        
      </div>
      <div class="col-xs-2">
  
      </div>
      <div class="col-xs-5" style="text-align:center;">
       <a  data-toggle="modal" data-target="#myModal">Learn More <span class="	fa fa-angle-double-right"></span></a>
   
      </div>
      
  </div>
  <div class="row" id="image">
      <div class="col-xs-5" style="text-align:center;">
         
          <img src="https://cdn2.macworld.co.uk/cmsdata/features/3544309/apple-pay-on-iphone.jpg" width='500px'>
        </div>
        <div class="col-xs-2">
    
        </div>
        <div class="col-xs-5" style="text-align:center;">
         
         <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/icloud/ios11-macos-high-sierra-set-up-icloud-hero.jpg" width='500px'>
        </div>
  </div>
  <div class="row" style="text-align:center">
      <div class="comments" >
          <p *ngFor="let comments of commentsArray"> {{comments.id}} : {{comments.comment}}</p>
          </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
         <child-app (emitData)="childEvent($event)"></child-app> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div>
  {{childText}}
</div>